html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Start of navbar */

.navbar-nav > li {
  padding-left: 25px;
  font-size: 20px;
  font-weight: 400;
}

.navbar-brand {
  margin-left: 20px;
}
#navbarBody {
  position: absolute;
  z-index: 1;
  justify-content: left;
}

/* End of navbar */

/* Start of main */
#section-home {
  background: linear-gradient(45deg, #665fee 10%, #27c2de 90%);
}

.pb_font-22 {
  font-size: 22px !important;
}

.pb_cover_v3 {
  position: relative;
  height: 95vh;
}

.pb_cover_v3 > .container {
  position: relative;
}
.pb_cover_v3 > .container > .row {
  height: 95vh;
}

.pb_cover_v3 .play:hover {
  transform: scale(1.2);
  border: 2px solid white;
}

.pb_cover_v3 .heading {
  font-size: 62px;
  color: white;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0px;
}

.pb_cover_v3 .sub-heading {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  float: left;
}

.pb_form_v1 {
  padding: 50px;

  box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
}

.pb_section {
  padding: 10em 0;
}

.pb_cover_v3 a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent;
}
.pb_cover_v3 a:hover {
  color: white;
  border-bottom: 2px solid white;
}

/* End of main */

/*Start of footer*/
footer {
  z-index: 100;
  position: relative;
}
/*Start of footer*/

/* Start of media queries */
@media (max-width: 991px) {
  .pb_form_v1 {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .pb_cover_v3 .heading {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  .pb_cover_v3 > .container > .row {
    height: inherit;
    padding: 6em 0;
  }
}
@media (max-width: 767px) {
  .pb_cover_v3 {
    height: inherit;
    text-align: center !important;
    padding: 6em 0;
  }
}
/* End of media queries */
